createdAt: "2019-09-14T02:26:38.272Z"
updatedAt: "2019-09-14T02:30:53.551Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 13: USB Drivers"
tags: []
content: "# Chapter 13: USB Drivers"
linesHighlighted: []
isStarred: false
isTrashed: false
