createdAt: "2019-09-14T02:26:40.159Z"
updatedAt: "2019-09-14T02:30:43.585Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 12: PCI Drivers"
tags: []
content: "# Chapter 12: PCI Drivers"
linesHighlighted: []
isStarred: false
isTrashed: false
