createdAt: "2019-09-05T12:36:11.435Z"
updatedAt: "2019-09-05T12:40:09.056Z"
type: "MARKDOWN_NOTE"
folder: "c34f5c53c8fea0d08916"
title: "socket 内核实现原理解析"
tags: []
content: '''
  2019/9/5
  # socket 内核实现原理解析
  socket
'''
linesHighlighted: []
isStarred: false
isTrashed: false
