createdAt: "2019-09-14T02:26:33.122Z"
updatedAt: "2019-09-14T02:31:11.971Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 15: Memory Mapping and DMA"
tags: []
content: "# Chapter 15: Memory Mapping and DMA"
linesHighlighted: []
isStarred: false
isTrashed: false
