createdAt: "2019-10-15T12:23:24.401Z"
updatedAt: "2019-12-01T02:34:07.448Z"
type: "MARKDOWN_NOTE"
folder: "cdf3da13e79e819c8162"
title: "To do"
tags: []
content: '''
  # To do
  - slab/slob/slub
  - asynchronous I/O
  - kernel timer
  - autoconf
'''
linesHighlighted: []
isStarred: false
isTrashed: false
