createdAt: "2019-09-14T02:31:18.942Z"
updatedAt: "2019-09-14T02:32:01.878Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 18: TTY Drivers"
tags: []
content: "# Chapter 18: TTY Drivers"
linesHighlighted: []
isStarred: false
isTrashed: false
