createdAt: "2019-09-14T02:26:36.180Z"
updatedAt: "2019-09-14T02:31:02.248Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 14: The Linux Device Model"
tags: []
content: "# Chapter 14: The Linux Device Model"
linesHighlighted: []
isStarred: false
isTrashed: false
