createdAt: "2019-12-01T02:35:57.857Z"
updatedAt: "2019-12-01T02:36:08.147Z"
type: "MARKDOWN_NOTE"
folder: "db14d1ccf5dc5667a8ac"
title: "autoconf"
tags: []
content: "# autoconf"
linesHighlighted: []
isStarred: false
isTrashed: false
