createdAt: "2019-09-14T02:26:53.771Z"
updatedAt: "2019-09-14T02:29:57.637Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 7: Time, Delays, and Deferred Work"
tags: []
content: "# Chapter 7: Time, Delays, and Deferred Work"
linesHighlighted: []
isStarred: false
isTrashed: false
