createdAt: "2019-09-14T00:50:46.824Z"
updatedAt: "2019-09-14T00:51:24.734Z"
type: "MARKDOWN_NOTE"
folder: "0f2348c925e25ffcf8a0"
title: "在socket fd上使用read write函数"
tags: []
content: '''
  2019/9/14
  # 在socket fd上使用read write函数
'''
linesHighlighted: []
isStarred: false
isTrashed: true
