createdAt: "2019-09-07T02:22:39.547Z"
updatedAt: "2019-09-07T03:36:13.244Z"
type: "MARKDOWN_NOTE"
folder: "c34f5c53c8fea0d08916"
title: "dpkg安装软件报缺少依赖的错误"
tags: []
content: '''
  2019/9/7
  # dpkg安装软件报缺少依赖的错误
  - 安装软件
  dpkg -i xxxx.deb
  - 修复缺少依赖
  sudo apt --fix-broken install
'''
linesHighlighted: []
isStarred: false
isTrashed: true
