createdAt: "2019-09-14T02:26:43.998Z"
updatedAt: "2019-09-14T02:30:25.941Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 10: Interrupt Handling"
tags: []
content: "# Chapter 10: Interrupt Handling"
linesHighlighted: []
isStarred: false
isTrashed: false
