createdAt: "2019-09-14T02:26:42.271Z"
updatedAt: "2019-09-14T02:30:34.691Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 11: Data Types in the Kernel"
tags: []
content: "# Chapter 11: Data Types in the Kernel"
linesHighlighted: []
isStarred: false
isTrashed: false
