createdAt: "2019-09-12T01:35:01.297Z"
updatedAt: "2019-09-12T03:40:13.382Z"
type: "MARKDOWN_NOTE"
folder: "50afd7072c26f2b825a5"
title: "在链路已经建立成功，有数据收发时，每一次想要发【SKIP EIOS EIOES】的时候都需要先发token EDS"
tags: []
content: "- 在链路已经建立成功，有数据收发时，每一次想要发【SKIP EIOS EIOES】的时候都需要先发token EDS"
linesHighlighted: []
isStarred: false
isTrashed: false
