createdAt: "2019-09-14T02:27:06.336Z"
updatedAt: "2019-09-14T02:29:17.304Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 3: Char Drivers"
tags: []
content: "# Chapter 3: Char Drivers"
linesHighlighted: []
isStarred: false
isTrashed: false
