createdAt: "2019-09-14T02:26:56.996Z"
updatedAt: "2019-09-14T02:29:47.477Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 6: Advanced Char Driver Operations"
tags: []
content: "# Chapter 6: Advanced Char Driver Operations"
linesHighlighted: []
isStarred: false
isTrashed: false
