createdAt: "2019-09-14T02:31:23.628Z"
updatedAt: "2019-09-14T02:31:39.228Z"
type: "MARKDOWN_NOTE"
folder: "05676453edc455fff69d"
title: "Chapter 16: Block Drivers"
tags: []
content: "# Chapter 16: Block Drivers"
linesHighlighted: []
isStarred: false
isTrashed: false
